name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_TOKEN }}

          # User Info
          user: RNKbansal23
          template: classic
          config_timezone: Asia/Kolkata
          
          # This disables the huge list of text stats
          base: "" 
          
          # LEFT SIDE: "Contributed to" list
          plugin_repositories: yes
          plugin_repositories_featured: RNKbansal23/Skill_Sync
          
          # RIGHT SIDE: The "Cross" Graph
          plugin_followup: yes
          plugin_followup_sections: repositories
