name: Metrics
on:
  # Schedule updates (every day at midnight)
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_TOKEN }}

          # User Info
          user: RNKbansal23
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kolkata
          
          # LEFT SIDE: "Contributed to" list
          plugin_repositories: yes
          plugin_repositories_featured: RNKbansal23/Skill_Sync
          
          # RIGHT SIDE: The "Cross" Graph (Commits/PRs/Issues)
          plugin_followup: yes
          plugin_followup_sections: repositories
          
          # BOTTOM: The "Habits" chart (Green squares)
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes
