name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_TOKEN }}

          # User Info
          user: RNKbansal23
          template: classic
          config_timezone: Asia/Kolkata
          
          # This cleans up the extra text
          base: "" 
          
          # This enables the "Activity Overview" (The Cross Graph)
          plugin_introduction: yes
          plugin_introduction_title: yes
          
          # This enables the "Contributed to" list (Left Side)
          plugin_repositories: yes
          plugin_repositories_featured: RNKbansal23/Skill_Sync
          
          # (Optional) Habits Graph (The green squares at the bottom)
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes
